@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  --tt-main-bg-color: #00f;
  --kb-main-bg-color: #ECEBDE;
  --kb-primary-text-color: #000;
}

html[data-theme="dark"] {
  --tt-main-bg-color: #032b43;
  --kb-main-bg-color: #032b43;
  --kb-primary-text-color: #ccc;
}

body {
  background-color: var(--kb-main-bg-color);
}
